<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SftpRelay.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <applicationSettings>
        <SftpRelay.Properties.Settings>
            <setting name="SmtpServer" serializeAs="String">
                <value></value>
            </setting>
            <setting Name="Port" Type="System.Int32" Scope="Application">
                <value></value>
            </setting>
            <setting Name="Username" Type="System.String" Scope="Application">
                <value></value>
            </setting>
            <setting Name="Password" Type="System.String" Scope="Application">
                <value></value>
            </setting>
            <setting name="EmailRecipients" serializeAs="String">
                <value></value>
            </setting>
            <setting name="SmtpFromAddress" serializeAs="String">
                <value></value>
            </setting>
            <setting name="EmailSubject" serializeAs="String">
                <value>SFTP Relay error</value>
            </setting>
        </SftpRelay.Properties.Settings>
    </applicationSettings>
</configuration>
